# don't include these files
*.gz
*.tgz
*.zip
*.log
.editorconfig
.eslintrc.json
.prettierrc.json
pkg-json-REF.txt
exceptions-list.ts.txt
README.md.zip
BUILD-RUN.md
Compiler.md
PKG-STUDY.md
.jest*.json
jest*.json
tsconfig.json
babel.config.js
jest.config.ts
CLAUDE.md
old.*
smm.*
*.vsix
*.heapprofile
# don't include these folders
scripts-pkg/
.devcontainer/
jest-*/
.github/
.history/
.vscode/
dist/
DOCs/
jest-config/
LogFiles/
pkgs*/
nexe-config/
REF/
RESULTS/
scripts/

TEST/
tasks/
tools/
.todo-mcp/
.claude/
scripts-excep-nbring/
# get contents from here
!out
